# Example of input file for the toy model:

0.1         alpha       # Mixing lenght parameter
7           vt          # ISM turbulent velocity (km/s)
0.2         hscale      # Height scale of the simulation (kpc)
8.33        rSun        # Solar radius (kpc)
2           width       # Width of the solar circle (kpc)
3           rd          # Radius scale for galaxy mass distribution (kpc)
7000        time        # Simulation time (Myr)
120         tau         # Mean-life of element (Myr)
5           r0          # Present-time galactic event rate (n/Myr)
10          sampleDt    # How often to sample the rate function/table (Myr)
linear      rateFunct   # Rate function: Choices are: linear, hopkins and cucciati
