# Example of input file for the toy model:

0.03        alpha       # Mixing lenght parameter
7           vt          # ISM turbulent velocity (km/s)
0.2         hscale      # Height scale of the simulation (kpc)
52.3        circumf     # Solar circumference (kpc)
2           width       # Width of the solar circle (kpc)
7000        time        # Simulation time (Myr)
100         tau         # Mean-life of element (Myr)
5           r0          # Present-time event rate (n/Myr)
5           sampleDt    # How often to sample the rate function/table (Myr)
